.codegraph/
backup/
backup_*.tar.gz
base/
base_java/
base_java.zip
org/
tests/
target_java/
rec_log.txt
v380_log_*.txt
video_*.h265
video_*.mp4
tools/bin/
tools/obj/
app/android/.gradle/
app/android/app/build/
